@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-800;
  background:
    linear-gradient(120deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)),
    url('https://images.unsplash.com/photo-1522199755839-a2bacb67c546?auto=format&fit=crop&w=1600&q=80')
      center/cover fixed;
}

#root {
  min-height: 100vh;
  backdrop-filter: saturate(80%) brightness(1.13); /* slight brighten as well */
}

.quill-editor .ql-container {
  min-height: 240px;
}

.quill-editor .ql-editor {
  min-height: 240px;
}
